.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body {
  font-family: "Nunito", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.App img {
  background-position: center;
  /* background-size: auto; */
  object-fit: contain;
  background-repeat: no-repeat;
}

.dim {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: opacity(0.3);
  background: black;
  z-index: -1;
}

.ninja {
  position: absolute;
  top: 0;
  z-index: -10;
}

.info {
  color: white;
}

.info * {
  padding: 5px;
}

.name {
  font-family: "Montserrat", sans-serif;
  font-size: 6em;
  font-weight: bold;
}

.date {
  font-weight: medium;
  font-size: 2.6em;
}

.open {
  font-weight: medium;
  font-size: 1.9em;
  color: #66ada1;
}
